h2 {
    color: rgb(239, 236, 204);
    font-size: 2.5rem;
}

h3 {
    color: white;
}

.cart {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.676);
    border-radius: 5px;
    padding: 1rem;
    position: fixed;
    right: -100%;
    top: 2.5rem;
    transition: 0.3s;
    text-align: center;

}

.cart_container {
    border-radius: 5px;
    height: min-content;
    width: 30rem;
    display: grid;
    align-content: center;
    row-gap: 0.3rem;
}

.cart_total {
    border-top: 2px solid white;
    padding: 1rem;
}


.cart_active {
    right: 1rem;
}
